<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{"/assets/vendor/startbootstrap-clean-blog/js/scripts.js" | relative_url }}"></script>

<script src="{{"/assets/scripts.js" | relative_url }}"></script>

{% if page.url contains 'contact' %}
  <!-- Form Validation -->
  <script src="{{"/assets/vendor/startbootstrap-clean-blog/js/jqBootstrapValidation.js" | relative_url }}"></script>
  <!-- Send Form -->
  <script>
    $(function () {

      $("#contactForm input,#contactForm textarea").jqBootstrapValidation({
        preventSubmit: true,
        submitError: function ($form, event, errors) {
          // additional error messages or events
        },
        submitSuccess: function ($form, event) {
          // SSSGform uses standard form submission, so we prevent the default AJAX submission.
          // To enable the default submission, we simply do nothing here or return true.
          // For clarity, this function is left empty. The form will submit normally.
        },
        filter: function () {
          return $(this).is(":visible");
        }
      });

      $("a[data-toggle=\"tab\"]").click(function (e) {
        e.preventDefault();
        $(this).tab("show");
      });
    });

    /*When clicking on Full hide fail/success boxes */
    $('#name').focus(function () {
      $('#success').html('');
    });
  </script>
{% endif %}
